<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Edit Range Index</h4>
  </div>
  <div class="modal-body">
    <form name="form">
      <div class="form-group">
        <label class="control-label">Type of Index</label>
        <input class="form-control" type="text" ng-model="indexType" disabled="disabled" />
      </div>
      <div ng-if="index['field-name']" class="form-group">
        <label class="control-label">Field Name</label>
        <input class="form-control" type="text" ng-model="index['field-name']" />
      </div>
      <div class="form-group">
        <label class="control-label">Type</label>
        <select class="form-control" name="indexType" ng-model="index['scalar-type']" ng-options="dataType for dataType in dataTypes">
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Collation</label>
        <span ng-show="index['scalar-type'] !== 'string'"><em>Not applicable</em></span>
        <input class="form-control" ng-show="index['scalar-type'] === 'string'" name="collation" type="text" ng-model="index.collation">
      </div>
      <div ng-if="index['parent-namespace-uri']" class="form-group">
        <label class="control-label">Parent Namespace URI</label>
        <input class="form-control" name="parentNamespaceUri" type="text" ng-model="index['parent-namespace-uri']">
      </div>
      <div ng-if="index['parent-localname']" class="form-group">
        <label class="control-label">Parent Localname</label>
        <input class="form-control" name="parentLocalname" type="text" ng-model="index['parent-localname']">
      </div>
      <div ng-if="index['namespace-uri']" class="form-group">
        <label class="control-label">Parent Namespace URI</label>
        <input class="form-control" name="namespaceUri" type="text" ng-model="index['namespace-uri']">
      </div>
      <div ng-if="index.localname" class="form-group">
        <label class="control-label">Localname</label>
        <input class="form-control" name="localname" type="text" ng-model="index.localname">
      </div>
      <div class="clearfix">
        <button type="button" class="btn btn-primary pull-right" ng-click="save()">Save</button>
      </div>
    </form>
  </div>
</div>
