<div class="setup col-md-10 col-md-offset-1">
  <div ng-if="loadDataInfo" class="alert alert-success">
    <div>
      <button type="button" class="close" ng-click="clearLoadDataInfo()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <p>Loaded {{loadDataInfo.docCountSucceeded}} documents of {{loadDataInfo.docCountFound}}.</p>
    <div ng-if="loadDataInfo.failedDocuments.length">
      <p>Failed to load the following documents:</p>
      <ul>
        <li ng-repeat="doc in loadDataInfo.failedDocuments">{{doc}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Setup Application</h2>
  </div>
  <div>
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{'active': state === 'database'}"><a ng-click="state = 'database'">Database</a></li>
      <li role="presentation" ng-class="{'active': state === 'indexes'}"><a ng-click="state = 'indexes'">Indexes</a></li>
      <li role="presentation" ng-class="{'active': state === 'constraints'}"><a ng-click="state = 'constraints'">Constraints <span ng-if="model.isInErrorState" class="alert-danger" title="Constraints don't match indexes"><i class="glyphicon glyphicon-exclamation-sign"></i></span></a></li>
      <li role="presentation" ng-class="{'active': state === 'suggestions'}"><a ng-click="state = 'suggestions'">Suggestions/Sort Options <span ng-if="model.isInErrorState" class="alert-danger" title="Constraints don't match indexes"><i class="glyphicon glyphicon-exclamation-sign"></i></span></a></li>
      <li role="presentation" ng-class="{'active': state === 'uiConfig'}"><a ng-click="state = 'uiConfig'">UI Config</a></li>
      <li role="presentation" ng-class="{'active': state === 'appearance'}"><a ng-click="state = 'appearance'; redrawCharts();">Results</a></li>
    </ul>
    <div ng-show="state === 'database'">
      <div class="form-group">
        <label class="control-label">Database Name <a ng-click="addDatabase()"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></label>
        <select class="form-control" ng-model="model.databaseName" ng-options="db for db in model.databaseOptions"></select>
      </div>
      <button class="btn btn-primary" type="button" ng-click="setDatabase()">Set Database</button>
      <h4>Load Data</h4>
      <div class="form-group">
        <div ng-show="isUploading">
          <uib-progressbar max="currentFilesToUpload" value="currentFilesUploaded"></uib-progressbar>
        </div>
        <div ng-hide="isUploading">
          <div class="form-group">
            <label class="control-label" for="uploadType">Upload Type</label>
            <select name="uploadType" ng-model="model.uploadType">
              <option value="file">File</option>
              <option ng-if="isInputDirSupported()" value="directory">Directory</option>
            </select>
          </div>
          <input ng-if="model.uploadType === 'directory'" class="form-control" id="directoryUploader" name="directory" type="file" directory mozDirectory webkitdirectory />
          <input ng-if="model.uploadType === 'file'" class="form-control" id="fileUploader" name="file" type="file" multiple/>
        </div>
        <label class="control-label">Upload with Collections <a ng-click="model.uploadCollections.push('')"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></label>
        <div ng-repeat="collection in model.uploadCollections track by $index" class="col-sm-12">
          <div class="input-group">
            <input class="form-control" ng-model="model.uploadCollections[$index]" type="text">
            <a class="input-group-addon btn btn-danger" ng-click="model.uploadCollections.splice($index, 1)"><span class="glyphicon glyphicon-trash"></span></a>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <button ng-click="loadData()" class="clearfix btn btn-primary pull-right">Load</button>
      </div>
      <h4>Clear Data</h4>
      <div class="form-group">
        <button type="button" class="btn btn-primary" confirmation-dialog="clearData()" confirmation-dialog-title="Clear Database" confirmation-dialog-message="Are you sure you want to clear the database?">Clear DB</button>
      </div>
    </div>
    <div ng-show="state === 'indexes'">
      <div class="panel panel-default">
        <div class="panel-heading">Range Indexes <a class="pull-right" ng-click="addIndex()"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></div>
        <div class="panel-body">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Collation</th>
                <th class="col-sm-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="index in model.rangeIndexes['range-index-list'] track by $index">
                <td><a ng-click="editIndex(index)">{{(index['range-element-index'] || index['range-element-attribute-index']).localname || (index['range-element-index'] || index['range-element-attribute-index']).name || index['range-field-index']['field-name'] || index['range-path-index']['path-expression']}}</a></td>
                <td>{{(index['range-element-index'] || index['range-element-attribute-index'] || index['range-field-index'] || index['range-path-index'])['scalar-type']}}</td>
                <td>{{(index['range-element-index'] || index['range-element-attribute-index'] || index['range-field-index'] || index['range-path-index']).collation}}</td>
                <td class="col-sm-1"><a class="pull-right" ng-click="removeIndex($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Fields <a class="pull-right" ng-click="addField()"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></div>
        <div class="panel-body">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
                <th class="col-sm-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="field in model.fields['field-list'] track by $index">
                <td><a ng-click="editField(field)">{{field['field-name']}}</a></td>
                <td><span ng-repeat="includedElement in field['included-element']">{{includedElement.localname}} <span ng-if="!$last">, </span></span>
                </td>
                <td class="col-sm-1"><a class="pull-right" ng-click="removeField($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Geospatial Indexes <a class="pull-right" ng-click="addGeospatialIndex()"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></div>
        <div class="panel-body">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Coordinate System</th>
                <th class="col-sm-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="index in model.geospatialIndexes['geospatial-index-list'] track by $index">
                <td><a ng-click="editGeospatialIndex(index)">{{index['geospatial-element-index'].localname || index['geospatial-element-pair-index']['parent-localname'] || index['geospatial-element-attribute-pair-index']['parent-localname']}}</a></td>
                <td>{{(index['geospatial-element-index'] || index['geospatial-element-pair-index'] || index['geospatial-element-attribute-pair-index'])['coordinate-system']}}</td>
                <td class="col-sm-1"><a class="pull-right" ng-click="removeGeospatialIndex($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-show="state === 'constraints'">
      <ml-constraints constraints="model.constraints" existing-indexes="model.rangeIndexes"></ml-constraints>
    </div>
  </div>
  <div ng-show="state === 'suggestions'">
    <ml-suggest-options constraints="model.constraints" default-source="model.searchOptions.options['default-suggest-source']"></ml-suggest-options>
    <ml-sort-options constraints="model.constraints" sort-options="model.sortOptions"></ml-sort-options>
  </div>
  <div ng-show="state === 'uiConfig'">
    <div class="panel panel-default">
      <div class="clearfix panel-heading">UI Configuration</div>
      <div class="panel-body">
        <table>
          <tbody>
            <tr>
              <td colspan="2">Page: </td>
            </tr>
            <tr>
              <td>Title: </td>
              <td>
                <input type="text" ng-model="model.uiConfig.page.title" />
              </td>
            </tr>
            <tr>
              <td colspan="2">Header: </td>
            </tr>
            <tr>
              <td>Company Logo: </td>
              <td>
                <select ng-model="model.uiConfig.logo.type">
                  <option value="image">Image</option>
                  <option value="text">Text</option>
                </select>
                <input ng-if="model.uiConfig.logo.type === 'text'" type="text" ng-model="model.uiConfig.logo.value" />
                <div ng-if="model.uiConfig.logo.type === 'image'" class="text-center partner-img-select">
                  <div>
                    <img alt="Company Logo Preview" class="img-responsive" ng-src="{{model.uiConfig.logo.image ||  '//:0'}}" />
                  </div>
                  <label class="sr-only" for="logoImage{{$index}}">Company Image</label>
                  <input type="file" ng-model="model.uiConfig.$file" onchange="angular.element(this).scope().previewImage(angular.element(this).scope().model.uiConfig, this.files)" />
                </div>
              </td>
            </tr>
            <tr>
              <td>Primary Color:</td>
              <td>
                <div>
                  <label class="sr-only" for="primaryColor">Primary Color</label>
                  <input id="primaryColor" type="text" class="form-control" ng-model="model.uiConfig.color" placeholder="Primary Color" required>
                </div>
                <color-picker ng-model="model.uiConfig.color"></color-picker>
              </td>
            </tr>
            <tr>
              <td colspan="2">Footer: </td>
            </tr>
            <tr>
              <td>Copyright holder: </td>
              <td>
                <input type="text" ng-model="model.uiConfig.footer.copyright.holder" />
              </td>
            </tr>
            <tr>
              <td>License text: </td>
              <td>
                <input type="text" ng-model="model.uiConfig.footer.license.text" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="clearfix panel-footer">
        <button ng-click="setUiConfig()" class="clearfix btn btn-primary pull-right">Save</button>
        <button ng-click="previewUiConfig()" class="clearfix btn btn-default pull-right">Preview</button>
        <button ng-click="resetUiConfig()" class="clearfix btn btn-danger pull-right">Reset</button>
      </div>
    </div>
  </div>
  <div ng-show="state === 'appearance'">
    <div class="panel panel-default">
      <div class="panel-heading">Preview <a href="/">Explore</a><a class="pull-right" ng-click="addChart()"><i class="glyphicon glyphicon-plus-sign"></i> Add Widget</a></div>
      <div class="panel-body">
        <h3 ng-if="model.search.total === 0">No results to show</h3>
        <ml-facets template="app/search/facet.html" class="col-md-3 right-col" facets="model.search.facets" toggle="toggleFacet(facet, value)" active-facets="ctrl.mlSearch.activeFacets" negate="ctrl.toggleNegatedFacet(facet,value)"></ml-facets>
        <div class="col-md-9">
          <facet-charts charts="model.chartData.charts" ml-search="mlSearch" remove-chart="removeChart" edit-chart="editChart" callback="toggleFacet(facet, value)"></facet-charts>
          <section class="well well-xs">
              <h3>Result display settings</h3>
              <div class="margin-bottom-sm">
                <strong>Title:</strong>
                <span ng-repeat="part in model.uiConfig['result-label']" class="btn btn-primary btn-xs">
                <span ng-if="part.type === 'element'">Element/JSON Property:</span>
                <span ng-if="part.type === 'attribute'">Attribute:</span>
                <span ng-if="part.type === 'path'">Path:</span>
                <span ng-if="part.value.elementNamespace">{{part.value.elementNamespace}}:</span>
                <span ng-if="part.type === 'text'">"</span>{{ part.value.element || part.value }}<span ng-if="part.type === 'text'">"</span>
                <span ng-if="  part.value.attribute">/@<span ng-if="part.value.attributeNamespace">  {{part.value.attributeNamespace}}:</span>{{part.value.attribute}}</span>
                <a class="badge" ng-click="removeLabelPart($index)">&times;</a>
                </span>
              </div>
              <button class="btn btn-primary" ng-click="addLabelPart()">Add Item</button>
              <div class="margin-bottom-sm">
                <strong>Metadata:</strong>
                <span ng-repeat="part in model.uiConfig['result-metadata']" class="btn btn-primary btn-xs">
                <span ng-if="part.label">Label: "{{part.label}}"</span>
                <span ng-if="part.type === 'element'">Element/JSON Property:</span>
                <span ng-if="part.type === 'attribute'">Attribute:</span>
                <span ng-if="part.type === 'path'">Path:</span>
                <span ng-if="part.value.elementNamespace">{{part.value.elementNamespace}}:</span>
                <span ng-if="part.type === 'text'">"</span>{{ part.value.element || part.value }}<span ng-if="part.type === 'text'">"</span>
                <span ng-if="part.value.attribute">/@<span ng-if="part.value.attributeNamespace">{{part.value.attributeNamespace}}:</span>{{part.value.attribute}}</span>
                <a class="badge" ng-click="removeResultMetadata($index)">&times;</a>
                </span>
              </div>
              <button class="btn btn-primary" ng-click="addResultMetadata()">Add Item</button>
          </section>
          <ml-results results="model.search.results" template="app/search/search-results.html"></ml-results>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
