<div class="setup col-md-10 col-md-offset-1">
  <div ng-if="loadDataInfo" class="alert alert-success">
    <div>
      <button type="button" class="close" ng-click="clearLoadDataInfo()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <p>Loaded {{loadDataInfo.docCountSucceeded}} documents of {{loadDataInfo.docCountFound}}.</p>
    <div ng-if="loadDataInfo.failedDocuments.length">
      <p>Failed to load the following documents:</p>
      <ul>
        <li ng-repeat="doc in loadDataInfo.failedDocuments">{{doc}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Setup Application</h2>
  </div>
  <div>
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{'active': state === 'database'}"><a ng-click="state = 'database'">Database</a></li>
      <li role="presentation" ng-class="{'active': state === 'indexes'}"><a ng-click="state = 'indexes'">Indexes</a></li>
      <li role="presentation" ng-class="{'active': state === 'constraints'}"><a ng-click="state = 'constraints'">Constraints <span ng-if="model.isInErrorState" class="alert-danger" title="Constraints don't match indexes"><i class="glyphicon glyphicon-exclamation-sign"></i></span></a></li>
      <li role="presentation" ng-class="{'active': state === 'suggestions'}"><a ng-click="state = 'suggestions'">Suggestions <span ng-if="model.isInErrorState" class="alert-danger" title="Constraints don't match indexes"><i class="glyphicon glyphicon-exclamation-sign"></i></span></a></li>
      <li role="presentation" ng-class="{'active': state === 'uiConfig'}"><a ng-click="state = 'uiConfig'">UI Config</a></li>
      <li role="presentation" ng-class="{'active': state === 'appearance'}"><a ng-click="state = 'appearance'">Results</a></li>
    </ul>
    <div ng-show="state === 'database'">
      <div class="form-group">
        <label class="control-label">Database Name <a ng-click="addDatabase()"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></label>
        <select class="form-control" ng-model="model.databaseName" ng-options="db for db in model.databaseOptions"></select>
      </div>
      <button class="btn btn-primary" type="button" ng-click="setDatabase()">Set Database</button>
      <h4>Load Data</h4>
      <div class="form-group">
        <label class="control-label">Directory</label>
        <div ng-show="isUploading">
          <progressbar max="currentFilesToUpload" value="currentFilesUploaded" ></progressbar>
        </div>
        <div ng-hide="isUploading">
          <input class="form-control" id="directoryUploader" name="directory" type="file" multiple webkitdirectory>
        </div>
      </div>
      <div class="clearfix">
        <button ng-click="loadData()" class="clearfix btn btn-primary pull-right">Load</button>
      </div>
      <h4>Previously Loaded Collections</h4>
      <div ng-repeat="collection in model.dataCollections" class="col-sm-12">
        {{collection}}
        <a ng-click="removeCollection($index)"><span class="glyphicon glyphicon-trash"></span></a>
      </div>
    </div>
    <div ng-show="state === 'indexes'">
      <div class="panel panel-default">
        <div class="panel-heading">Range Indexes <a class="pull-right" ng-click="addIndex()"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></div>
        <div class="panel-body">
          <table>
            <thead>
              <tr><th>Name</th><th>Type</th><th>Collation</th><th class="col-sm-1"></th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="index in model.rangeIndexes['range-index-list'] track by $index">
                <td><a ng-click="editIndex(index)">{{(index['range-element-index'] || index['range-element-attribute-index']).localname || (index['range-element-index'] || index['range-element-attribute-index']).name || index['range-field-index']['field-name'] || index['range-path-index']['path-expression']}}</a></td>
                <td>{{(index['range-element-index'] || index['range-element-attribute-index'] || index['range-field-index'] || index['range-path-index'])['scalar-type']}}</td>
                <td>{{(index['range-element-index'] || index['range-element-attribute-index'] || index['range-field-index'] || index['range-path-index']).collation}}</td>
                <td class="col-sm-1"><a class="pull-right" ng-click="removeIndex($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Fields <a class="pull-right" ng-click="addField()"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></div>
        <div class="panel-body">
          <table>
            <thead>
              <tr><th>Name</th><th></th><th class="col-sm-1"></th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="field in model.fields['field-list'] track by $index">
                <td><a ng-click="editField(field)">{{field['field-name']}}</a></td>
                <td><span ng-repeat="includedElement in field['included-element']">{{includedElement.localname}} <span ng-if="!$last">, </span></span></td>
                <td class="col-sm-1"><a class="pull-right" ng-click="removeField($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Geospatial Indexes <a class="pull-right" ng-click="addGeospatialIndex()"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></div>
        <div class="panel-body">
          <table>
            <thead>
              <tr><th>Name</th><th>Coordinate System</th><th class="col-sm-1"></th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="index in model.geospatialIndexes['geospatial-index-list'] track by $index">
                <td><a ng-click="editGeospatialIndex(index)">{{index['geospatial-element-index'].localname || index['geospatial-element-pair-index']['parent-localname']}}</a></td>
                <td>{{(index['geospatial-element-index'] || index['geospatial-element-pair-index'])['coordinate-system']}}</td>
                <td class="col-sm-1"><a class="pull-right" ng-click="removeGeospatialIndex($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-show="state === 'constraints'">
      <div class="panel panel-default">
        <div class="clearfix panel-heading">Constraints <button ng-click="resampleConstraints()" class="btn btn-primary pull-right">Resample</button><button ng-click="addConstraint()" class="btn btn-primary pull-right">Add</button></div>
        <div class="panel-body">
          <table id="constraint-table">
          <thead>
            <tr><th class="col-sm-3">Label</th><th class="col-sm-4">Source</th><th class="col-sm-1">Faceted</th><th class="col-sm-1"></th></tr>
          </thead>
          <tbody as-sortable="sortableOptions" ng-model="model.constraints"
>
            <tr ng-repeat="constraint in model.constraints track by $index"  as-sortable-item>
            <td class="col-sm-3" as-sortable-item-handle><input type="text" ng-model="constraint.name"/></td>
            <td class="col-sm-4" as-sortable-item-handle><span ng-if="constraint.range">Range</span><span ng-if="constraint.word">Word</span><span ng-if="constraint.collection">Collection</span>: {{(constraint.range || constraint.word).field.name || (constraint.range || constraint.word).attribute.name || (constraint.range || constraint.word).element.name || constraint.collection.prefix}} (<span ng-if="(constraint.range || constraint.word).attribute">attribute</span><span ng-if="(constraint.range || constraint.word).element && !(constraint.range || constraint.word).attribute">element</span><span ng-if="(constraint.range || constraint.word).field">field</span><span ng-if="constraint.collection">prefix</span>)</td>
            <td class="col-sm-1" as-sortable-item-handle><input type="checkbox" ng-model="(constraint.range || constraint.word || constraint.collection).facet"/></td>
            <td class="col-sm-1" as-sortable-item-handle><a class="pull-right" data-no-drag ng-click="removeConstraint($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
          </tbody>
          </table>
        </div>
        <div class="clearfix panel-footer">
          <button ng-click="submitConstraints()" class="clearfix btn btn-primary pull-right">Save</button>
        </div>
        </div>
      </div>
    </div>
    <div ng-show="state === 'suggestions'">
      <div class="panel panel-default">
        <div class="clearfix panel-heading">Suggestions <button ng-click="getDefaultSourceOpts()" class="btn btn-primary pull-right">Resample</button></div>
        <p>Requires a range index in the source database</p>
        <div class="panel-body">
          <table>
          <tbody>
            <tr>
            <td>Default source: </td>
            <td><select ng-model="model.defaultSource">
              <option ng-repeat="option in model.suggestOptions track by $index"
                  value="{{option.value}}"
                  ng-selected="{{option.selected}}"
                >{{option.name}}</option>
            </select></td>
            </tr>
          </tbody>
          </table>
        </div>
        <div class="clearfix panel-footer">
          <button ng-click="saveDefaultSource()" class="clearfix btn btn-primary pull-right">Save</button>
        </div>
      </div>
    </div>
    <div ng-show="state === 'uiConfig'">
      <div class="panel panel-default">
        <div class="clearfix panel-heading">UI Configuration</div>
        <div class="panel-body">
          <table>
            <tbody>
              <tr>
                <td colspan="2">Page: </td>
              </tr>
              <tr>
                <td>Title: </td>
                <td>
                  <input type="text" ng-model="model.uiConfig.page.title"/>
                </td>
              </tr>
              <tr>
                <td colspan="2">Header: </td>
              </tr>
              <tr>
                <td>Company Logo: </td>
                <td>
                  <select ng-model="model.uiConfig.logo.type">
                    <option value="image">Image</option>
                    <option value="text">Text</option>
                  </select>
                  <input type="text" ng-model="model.uiConfig.logo.value"/>
                </td>
              </tr>
              <tr>
                <td colspan="2">Footer: </td>
              </tr>
              <tr>
                <td>Copyright year: </td>
                <td>
                  <input type="text" ng-model="model.uiConfig.footer.copyright.year"/>
                </td>
              </tr>
              <tr>
                <td>Copyright holder: </td>
                <td>
                  <input type="text" ng-model="model.uiConfig.footer.copyright.holder"/>
                </td>
              </tr>
              <tr>
                <td>Copyright holder link: </td>
                <td>
                  <input type="text" ng-model="model.uiConfig.footer.copyright.link"/>
                </td>
              </tr>
              <tr>
                <td>License text: </td>
                <td>
                  <input type="text" ng-model="model.uiConfig.footer.license.text"/>
                </td>
              </tr>
              <tr>
                <td>License link: </td>
                <td>
                  <input type="text" ng-model="model.uiConfig.footer.license.link"/>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix panel-footer">
          <button ng-click="setUiConfig()" class="clearfix btn btn-primary pull-right">Save</button>
        </div>
      </div>
    </div>
    <div ng-show="state === 'appearance'">
      <div class="panel panel-default">
        <div class="panel-heading">Preview <a href="/">Explore</a><a class="pull-right" ng-click="addChart()"><i class="glyphicon glyphicon-plus-sign"></i> Add Widget</a></div>
        <div class="panel-body">
          <h3 ng-if="model.search.total === 0">No results to show</h3>
          <ml-facets class="col-md-3 right-col" facets="model.search.facets" toggle="toggleFacet(facet, value)" active-facets="ctrl.mlSearch.activeFacets" negate="ctrl.toggleNegatedFacet(facet,value)"></ml-facets>
          <div class="col-md-9">
            <facet-charts charts="model.chartData.charts" ml-search="mlSearch" remove-chart="removeChart" edit-chart="editChart" callback="toggleFacet(facet, value)"></facet-charts>
            <ml-results results="model.search.results" template="app/search/search-results.html"></ml-results>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
