<div class="form-group" ng-class="{ 'has-error' : indexForm.pathExpression.$invalid && !indexForm.pathExpression.$pristine }">
  <label class="col-sm-4 control-label">path expression <i class="fa fa-asterisk mandatory-field"></i></label>
  <div class="col-sm-8">
    <input type="text" name="pathExpression" class="form-control" 
           ng-model="current_index['path-expression']" required />
    <p ng-show="indexForm.pathExpression.$invalid && !indexForm.pathExpression.$pristine" class="help-block">path expression uri is required.</p>
  </div>
</div>
