<div>
  <div clas="col-sm-3">
    <label class="control-label">{{constraintPropertyName}}</label>
    <a class="pull-right" ng-if="type(constraintProperty) === 'array'" ng-click="constraintProperty.push('')"><i class="glyphicon glyphicon-plus-sign"></i> Add</a>
    <a class="pull-right" ng-if="type(constraintProperty) === 'bucket' || type(constraintProperty) === 'computed-bucket'" ng-click="constraintProperty.push({})"><i class="glyphicon glyphicon-plus-sign"></i> Add</a>

  </div>
  <div clas="col-sm-9" ng-switch on="type(constraintProperty)">
    <div class="col-sm-offset-1" ng-switch-when="object">
      <div ng-repeat="(key, val) in constraintProperty">
        <constraint-form constraint-property-name="key" constraint-property="val" constraint-object="constraintProperty"></constraint-form>
      </div>
    </div>
    <div ng-switch-when="array">
      <div class="well" ng-repeat="val in constraintObject[constraintPropertyName] track by $index">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="constraintProperty[$index]" />
          <a class="input-group-addon" ng-click="constraintProperty.splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
      </div>
    </div>
    <div ng-switch-when="bucket">
      <div class="well" ng-repeat="val in constraintProperty">
        <div class="form-group">
          <label class="control-label">Name</label>
          <div class="input-group">
            <input class="form-control" type="text" ng-model="val.name" />
            <a class="input-group-addon" ng-click="constraintProperty.splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></a>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Label</label>
          <input class="form-control" type="text" ng-model="val.label" />
        </div>
        <div class="form-group">
          <label class="control-label">LT</label>
          <input class="form-control" type="text" ng-model="val.lt" />
        </div>
        <div class="form-group">
          <label class="control-label">GE</label>
          <input class="form-control" type="text" ng-model="val.ge" />
        </div>
      </div>
    </div>
    <div ng-switch-when="computed-bucket">
      <div class="well" ng-repeat="val in constraintProperty">
        <div class="form-group">
          <label class="control-label">Name</label>
          <div class="input-group">
            <input class="form-control" type="text" ng-model="val.name" />
            <a class="input-group-addon" ng-click="constraintProperty.splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></a>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Label</label>
          <input class="form-control" type="text" ng-model="val.label" />
        </div>
        <div class="form-group">
          <label class="control-label">LT</label>
          <input class="form-control" type="text" ng-model="val.lt" />
        </div>
        <div class="form-group">
          <label class="control-label">GE</label>
          <input class="form-control" type="text" ng-model="val.ge" />
        </div>
        <div class="form-group">
          <label class="control-label">LT Anchor</label>
          <input class="form-control" type="text" ng-model="val['lt-anchor']" />
        </div>
        <div class="form-group">
          <label class="control-label">GE Anchor</label>
          <input class="form-control" type="text" ng-model="val['ge-anchor']" />
        </div>
      </div>
    </div>
    <div ng-switch-when="boolean">
      <input class="form-control" type="checkbox" ng-model="constraintObject[constraintPropertyName]" ng-true-value="true" ng-false-value="false" />
    </div>
    <div ng-switch-default>
      <input class="form-control" type="text" ng-model="constraintObject[constraintPropertyName]" />
    </div>
  </div>
</div>
