<div ng-show="indexType && indexType !== 'field'">
  <div>
    <div>
      <label class="control-label">{{indexType}}</label>
    </div>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="searchText">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-default" type="button" ng-click="find(searchText, indexType)">find</button>
    </div>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th class="col-sm-1">&nbsp;</th>
          <th ng-show="indexType === 'attribute'">Parent Namespace</th>
          <th ng-show="indexType === 'attribute'">Parent Name</th>
          <th>Namespace</th>
          <th>Name</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="node in foundNodes track by $index">
          <td class="col-sm-1"><input type="radio" name="selectedNode" ng-model="index.selectedNode" ng-value="node"></td>
          <td ng-show="indexType === 'attribute'">{{node.elementNamespace}}</td>
          <td ng-show="indexType === 'attribute'">{{node.element}}</td>
          <td>{{node.attributeNamespace || node.elementNamespace}}</td>
          <td>{{node.attribute || node.element}}</td>
          <td>{{node.path}}</td>
        </tr>
        <tr>
          <td class="col-sm-1"><input type="radio" name="selectedNode" ng-model="index.selectedNode" ng-value="otherNode"> Other</td>
          <td ng-show="indexType === 'attribute'"><input type="text" ng-model="otherNode.parentNamespaceUri"></td>
          <td ng-show="indexType === 'attribute'"><input type="text" ng-model="otherNode.parentLocalname"></td>
          <td><input type="text" ng-model="otherNode.localname"></td>
          <td><input type="text" ng-model="otherNode.namespaceUri"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
