<div class="view-mode">
  <p>The view mode displays the query results of the Query Builder.</p>

  <form name="viewForm" class="form-inline" style="margin-bottom:10px;margin-bottom:10px">
    <div class="form-group">
      <label class="control-label">Search:</label>
      <input type="text" name="name" class="form-control" ng-model="executor.simple" />
    </div>

    <button class="btn btn-primary" ng-disabled="executor.disableRun" ng-click="execute()">
      <span class="fa fa-eye"></span> Run Report</button>
    <button class="btn btn-default" ng-click="download()" ng-disabled="executor.disableDownload">
      <span class="fa fa-download"></span> Download Report</button>
    <span ng-show="model.loadingResults">&nbsp;<i class="fa fa-spinner fa-spin"></i></span>
  </form>

  <div class="table-responsive" ng-if="executor.results.length>0">
<!--
    <table ng-table-dynamic="tableParams with cols" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="row in $data">
        <td ng-repeat="col in $columns">{{row[col.field]}}</td>
      </tr>
    </table>
-->
    <pagination ng-model="grid.page" ng-change="fetchPage()" max-size="10" boundary-links="true"
                total-items="grid.total" items-per-page="widget.dataModelOptions.pageLength"></pagination>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th data-ng-repeat="dimension in executor.dimensions">{{dimension.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="row in executor.results">
          <td data-ng-repeat="cell in row track by $index">{{cell}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive" ng-if="model.results.results">
    <div ng-if="model.queryError" class="alert alert-danger">{{ model.queryError }}</div>
    <p ng-if="model.results" class="metrics">
      <em>{{ model.results.results.length }} results in {{ model.results.metrics['total-time'] }}</em>
    </p>

    <table ng-table-dynamic="tableParams with cols" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="row in $data">
        <td ng-repeat="col in $columns">{{row[col.field]}}</td>
      </tr>
    </table>
<!--
    <table class="table table-bordered">
      <thead>
        <tr>
          <th ng-repeat="header in model.results.headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in model.results.results track by $index">
          <td ng-repeat="val in result track by $index">
            <em ng-if="val === ''"></em>
            <span ng-if="val !== ''">{{ val }}</span>
          </td>
        </tr>
      </tbody>
    </table>
-->
  </div>

  <div class="hcontainer"></div>

</div>
