<form ng-submit="search({ qtext: qtext })" class="ml-input ml-search form-inline" role="search">
  <div class="input-group">
    <input ng-model="qtext" type="text" class="form-control" placeholder="Search..." autocomplete="off"
        uib-typeahead="suggestion for suggestion in suggest({ val: $viewValue })" typeahead-suggest-on-select="true" typeahead-loading="loadingSuggestions" typeahead-min-length="3" typeahead-editable="true"/>
    <span ng-show="qtext" ng-click="clear()" class="search-input-icon search-input-clear form-control-feedback">
      <i class="fa fa-times-circle"></i>
    </span>
    <span ng-show="loadingSuggestions" class="search-input-icon search-loading form-control-feedback">
      <i class="fa fa-refresh fa-spin"></i>
    </span>
    <div ng-click="search({ qtext: qtext })" class="input-group-addon search-submit">
      <i class="fa fa-search"></i>
    </div>
  </div>
</form>
