<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
  <h3>Settings Dialog for <small>{{widget.title}}</small></h3>
</div>

<div class="modal-body">
  <form name="form" novalidate class="form-horizontal">
    <div class="form-group">
      <label for="widgetTitle" class="col-sm-3 control-label">Title</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="widgetTitle" ng-model="result.title">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Page Length</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" name="pageLength" ng-model="result.dataModelOptions.pageLength">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Chart Type</label>
      <div class="col-sm-9">
        <select class="form-control" ng-model="result.dataModelOptions.chart">
          <option>column</option>
          <option>pie</option>
        </select>
      </div>
    </div>

    <div class="form-group has-feedback" ng-repeat="parameter in result.dataModelOptions.parameters">
      <div class="col-sm-5">
        <input type="text" class="form-control" ng-model="parameter.name" />
      </div>
      <div class="col-sm-7">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="parameter.value" />
          <div class="input-group-btn" style="vertical-align:top;">
            <a type="button" class="btn btn-danger" data-ng-click="deleteParameter($index)">
              <i class="fa fa-minus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="widget.partialSettingTemplateUrl" ng-include="widget.partialSettingTemplateUrl"></div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default navbar-left" ng-click="addParameter()">Add Parameter</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
</div>