<div id="analytics-dashboard">
    <div class="container-fluid" style="padding-left:0;padding-right:0;">
      <div id="main-container">
        <div class="left-column">
          <div class="sidebar-container-outer">
            <div id="sidebar-container">
              <div id="sidebar">
                <span class="menu-title">Manage Reports</span>
                <p ng-if="!currentUser" style="padding-left:8px;">Please log in to view reports.</p>
                <div class="alert alert-warning" ng-show="showLoading">Loading Reports...</div>
                <form ng-if="currentUser" name="filterForm" class="filter-form" novalidate>
                  <input type="text" class="form-control" 
                         ng-model="search.name"
                         placeholder="Filter reports" />
                </form>
                <div class="report-palette">
                  <div class="report-container">
                    <div class="report-container-inner">
                      <div class="report-item" 
                           ng-repeat="report in reports | filter : search">
                        <i class="fa fa-th"></i><span>{{report.name}}</span>
                        <div class="toolbar">
                          <a class="btn btn-link" data-ng-click="gotoDesigner(report.uri)">
                            <i class="fa fa-dashboard"></i>
                          </a>
                          <a class="btn btn-link" data-ng-click="showReportEditor(report)">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a class="btn btn-link" data-ng-click="showReportRemover(report)">
                            <i class="fa fa-trash-o"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- end palette -->
                <div ng-if="currentUser" class="btn-toolbar" style="margin-left:10px;margin-top:10px">
                  <div class="btn-group">
                    <button class="btn btn-primary" ng-click="createReport()">
                      <span class="fa fa-check"></span> New Report
                    </button>
                  </div>
                </div>
              </div> <!-- end sidebar -->
            </div>
          </div>
        </div> <!-- end left-column -->
        <div class="splitter">
          <div class="splitter-vertical-button"></div>
        </div>
        <div class="right-column">
          <div class="workspace-container-outer">
            <div id="workspace-container">
              <!-- This is where content will be injected -->
              <div class="container-fluid workspace-view">
                <ui-view></ui-view>
              </div>
            </div>
          </div>
        </div> <!-- end right-column -->
      </div> <!-- end main-container -->
    </div>
</div>
