<div class="row" ng-if="!currentUser">
  <div class="col-md-12">Please log in to edit report.</div>
</div>

<div class="row" ng-if="currentUser">
  <div class="col-md-12">
    <span class="view-title">Edit Report</span>
    <p>The fields marked with asterisk <i class='fa fa-asterisk mandatory-field'></i> are mandatory.</p>

    <form name="editReportForm" ng-submit="updateReport()" novalidate>
      <div class="form-group">
        <label class="control-label">Name <i class="fa fa-asterisk mandatory-field"></i></label>
        <input type="text" name="name" class="form-control" ng-model="report.name" readonly />
      </div>

      <div class="form-group">
        <label class="control-label">Description</label>
        <input type="text" name="description" class="form-control" 
               ng-model="report.description" />
      </div>

      <div class="form-group" ng-class="{ 'has-error' : editReportForm.classification.$invalid && !editReportForm.classification.$pristine }">
        <label class="control-label">Classification <i class="fa fa-asterisk mandatory-field"></i></label>
        <input type="text" name="classification" class="form-control" 
               ng-model="report.classification" required />
        <p ng-show="editReportForm.classification.$invalid && !editReportForm.classification.$pristine" class="help-block">Classification is required.</p>
      </div>

      <div class="form-group">
        <label class="control-label">Privacy</label>
            <div class="hcontainer">
              <ul class="hoptions">
                <li ng-class="{current:isActive('public')}">
                  <div class="radio">
                    <label><input type="radio" data-ng-click="setOption('public')" ng-model="report.privacy" name="privacy" value="public" />Public</label>
                  </div>
                </li>
                <li ng-class="{current:isActive('private')}">
                  <div class="radio">
                    <label><input type="radio" data-ng-click="setOption('private')" ng-model="report.privacy" name="privacy" value="private" />Private</label>
                  </div>
                </li>
              </ul>
              <div class="hpanel">
                <div class="hcontent" ng-class="{show:isActive('public')}">
                  <p>A public report is available for anyone to view.</p>
                </div>
                <div class="hcontent" ng-class="{show:isActive('private')}">
                  <p>A private report is only available for its owner.</p>
                </div>
              </div>
            </div>
      </div>

      <div class="btn-toolbar" role="toolbar" style="margin-top:10px">
        <div class="btn-group pull-right">
          <button type="submit" class="btn btn-primary" ng-disabled="editReportForm.$invalid">
            <span class="fa fa-check"></span> Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>
