<div class="row">
  <div class="col-md-12">
    <span class="view-title">Welcome to Analytics Dashboard</span>
    <p>Analytics Dashboard is an online reporting and business intelligence 
       service that helps you easily analyze your business data, and create 
       insightful reports for informed decision-making. It allows you to 
       easily create and share powerful reports in minutes from MarkLogic 
       database.
    </p>

    <p><b>Sample Monthly Budget 2015 vs. 2014</b><p>
    <canvas id="budget-canvas" style="height:300px;max-width:100%;width:auto;"></canvas>

    <p>MarkLogic's full-text search engine makes it an 
       ideal platform to power advanced search applications. 
       MarkLogic’s full-text search includes faceting, 
       real-time alerting, type-ahead suggestions, 
       snippeting, language support, and much more.
    </p>
  </div>
</div>
