<div class="row" ng-if="!currentUser">
  <div class="col-md-12">Please log in to remove report.</div>
</div>

<div class="row" ng-if="currentUser">
  <div class="col-md-12">
    <span class="view-title">Delete Report</span>
    <p>This action will delete the report. Are you sure you want to continue?</p>

    <button type="button" class="btn btn-default" data-ng-click="cancel()">
      <span class="fa fa-close"></span> Cancel
    </button>
    <button type="button" class="btn btn-primary" data-ng-click="deleteReport()">
      <span class="fa fa-check"></span> OK
    </button>
  </div>
</div>
